/* /////////////////////////////////////          AL             ////////////////////////////////////////*/

body {
    font-family: 'Poppins', sans-serif;
}








/*/////////////////////////////////////        layout           /////////////////////////////////////////*/
.bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px;
    
    color:rgb(32, 32, 32);
    background-color: rgb(189, 210, 255);

}
.item:hover{
    transform: scale(1.1);
}






/*/////////////////////////////////////        login           /////////////////////////////////////////*/
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #0056b3;
}

.login-link {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.login-link:hover {
    text-decoration: underline;
}


/*/////////////////////////////////////        explore           /////////////////////////////////////////*/






















/*/////////////////////////////////////        mypage           /////////////////////////////////////////*/



.button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin:10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}
.dbutton{
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin:10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.dbutton:hover {
    background-color: #b30000;
}