{% extends "layout.html" %}

{% block title %}
Explore
{% endblock %}

{% block main %}
  <script>
    // Função para mostrar uma notificação pop-up
    function showNotification() {
      if (Notification.permission === "granted") {
        new Notification("Esta é uma notificação pop-up!");
      } else if (Notification.permission !== "denied") {
        Notification.requestPermission().then(function(permission) {
          if (permission === "granted") {
            new Notification("Esta é uma notificação pop-up!");
          }
        });
      }
    }

    // Chama a função para mostrar a notificação
    showNotification();
  </script>
{% endblock %}
