{% extends "layout.html" %}

{% block title %}
Explore
{% endblock %}

{% block main %}
  <h1>Exploração de Notificações</h1>
  <script>
    // Aguardando o carregamento completo da página
    document.addEventListener("DOMContentLoaded", function() {
      // Verifica se o navegador tem suporte para notificações
      if ("Notification" in window) {
        // Solicita permissão para exibir notificações
        Notification.requestPermission().then(function(permission) {
          if (permission === "granted") {
            // Exibe a notificação
            new Notification("Esta é uma notificação pop-up!");
          } else {
            console.log("Permissão de notificação negada");
          }
        });
      } else {
        console.log("Este navegador não suporta notificações.");
      }
    });
  </script>
{% endblock %}
