{% extends "layout.html" %}

{% block title %}
My Page
{% endblock %}

{% block main %}

{% if ad %}
    <div class="ad-container">
        <button class ="button"><a href="/explore"><h5>Veja Anuncios Para Exibir seu Anuncio</h5></a></button>
        <h2 class="title">Seu Anuncio:</h2>
        <h3>{{ad["description"]}}</h3>
        <!-- Link agora envolto corretamente -->
        <a href="{{ad['link']}}" target="_blank">
            <img src="{{ url_for('static', filename='imgs/' + ad['img']) }}" alt="Imagem do anúncio" class="ad-image">
        </a>
        <h4>Seu Anuncio será Exibido: {{ad["points"]}} vezes</h4>
        <form method="post">
            <button name="delete" value="delete" class="delete-button">DELETE 🗑️</button>
        </form>
    </div>
{% endif %}

{% if not ad %}
    <div style="text-align: center;">
        <p >Faça o upload do seu anúncio</p>
        <form method="post">
            <input type="hidden" name="upload" value="1">
            <button class="button">Upload an Ad</button>
        </form>
        
        <p >Pra cada anúncio que você ver, Seu anúncio será exibido 1 vez</p>
    </div>
    
{% endif %}

{% endblock %}

