{% extends "layout.html" %}
{% block title%}
My Page
{% endblock %}
{% block main %}

{% if ad %}

    <div style="text-align: center;">
        <h2 style="text-align: center; margin: 10px;">Seu Anuncio:</h2>
        <h3>{{ad["description"]}}</h3>
        <a href="{{ad['link']}}"><img src="{{ url_for('static', filename='imgs/' + ad['img']) }}" alt="Imagem do anúncio"></a>
        <h4>Seu Anuncio será Exibido: {{ad["points"]}} vezes</h4>
        <form>
            <button value ="delete" class = "dbutton">DELETE 🗑️</button>
        </form>
    </div>


{% endif %}
{% if not ad %}

    <div style="text-align: center;">
        <p>Faça o upload do seu anuncio</p>
        <form method="post">
            <input type="hidden" name="upload" value="1">
            <button class="button">Upload an Ad</button>
        </form>
        
        <p>Pra cada anuncio que você ver Seu anuncio sera exibido 1 vez</p>
    </div>

{% endif %}


{% endblock %}